

p{
    text-align:center;
    margin-right: 100px;
    font-family: 'Roboto' , sans-serif ;
}

#laptop{

   height: 450px;
   position: relative;   
   bottom: 450px;
   left: 50%;
}

#p2{
    clear: left;
}

#box{
   
    background-color: #3597ff;
    position: relative;
    width: 101%;
    right: 10px;
    height: 450px;
}

#row1{
    
    font-family:'Roboto',sans-serif;
    font-weight: 500;
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20%;
    width: 700px;
}



#p4{
    color: white;
    position: relative;
    top: 100px;
    right: 450px;
    font-size: 20px;
    font-weight: 300;
}

#p3{
    color: white;
    position: relative;
    top: 100px;
    right: 500px;
    font-size: 2.5rem;
    font-weight: 300;
}

#preco{
    position: relative;
    bottom: 400px;
    text-align: center;
    font-size: 40px;
    left: 40px;
    font-family: 'Roboto' , sans-serif ;
}
#p5{
    position: relative;
    bottom: 400px;
    text-align: center;
    margin-left: 100px;
    font-size: 18px;
    font-family: 'Roboto' , sans-serif ;
}

